body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 80px); /* Adjust for footer and navbar */
  box-sizing: border-box;
}
